.text2 {
  color:greenyellow;
  font-size: 35px;
  margin: 20px 50px;
  }

.text {
  font-size: 140px;
  color:greenyellow;
  padding-top: 25px;
  padding-left: 800px
}

.btn {
  display: inline-block;
  padding: 20px 50px;
  background-color: #12c921;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 1px 1300px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(40, 95, 18, 0.1);
  border-radius: 50%;
  transition: all 0.3s ease;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.btn:hover::before {
  width: 0;
  height: 0;
}


.btn span {
  position: relative;
  z-index: 1;
}

.text3 {
  margin: -870px 120px;
  color: #12c921;
  font-size: 25px;
}

