
.GOA{
    font-size : 70px
}

.GOA{
    text-align: center;
}

.GOA1{
   font-size: 30px 
}

body {
    background-color: black;
    color: green;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
}
